.camp {
    color:white;
    text-align:center;
    font-family: 'Shadows Into Light', cursive;
    background-image: url("http://res.freestockphotos.biz/pictures/8/8992-close-up-of-a-fire-pv.jpg");
}
#summary {
    position:relative;
    top:10px;
    color:white;
    width:400px;
    font-family: 'Shadows Into Light', cursive;
}
#email{
    float:left;
    bottom:10px;
    color:white;
}

h5 {
    text-align:center;
    color:red;
    padding-bottom:10px;
}
